#transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    animation-name: transition;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes transition {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

 .slider {
  position:fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 30px;
}

.slider .slider-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 15px;
}

.slider .slider-button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.slider input[type="checkbox"].slider-toggle:checked + .slider-button {
  background-color: #007bff;
  transform: translateX(30px);
}

.slider input[type="checkbox"].slider-toggle:checked + .slider-button::before {
  transform: translateX(28px);
}
.container {
    position: relative;
    height: 200px; /* Example height for the container */
  }
  
  .bottom-right {
    position: absolute;
    bottom: -500px;
    right: 100px;
    color: red;
    background-color: aliceblue;
    padding: auto;
    font-size: larger;
  }
  



  